<div class="container" role="main">
  <div class="card mb-3">
    <div class="card-body">
      <h2 class="card-title">F.A.Q.</h2>
      <p class="card-text">
        Kazkoks tekstas paaiskinantis, kas tai per puslapis, ka jame galima rasti ir panasiai. Kazkoks tekstas paaiskinantis, kas
        tai per puslapis, ka jame galima rasti ir panasiai. Kazkoks tekstas paaiskinantis, kas tai per puslapis, ka jame
        galima rasti ir panasiai. Kazkoks tekstas paaiskinantis, kas tai per puslapis, ka jame galima rasti ir panasiai.
        Kazkoks tekstas paaiskinantis, kas tai per puslapis, ka jame galima rasti ir panasiai. Kazkoks tekstas paaiskinantis,
        kas tai per puslapis, ka jame galima rasti ir panasiai. Kazkoks tekstas paaiskinantis, kas tai per puslapis, ka jame
        galima rasti ir panasiai. Kazkoks tekstas paaiskinantis, kas tai per puslapis, ka jame galima rasti ir panasiai.
        Kazkoks tekstas paaiskinantis, kas tai per puslapis, ka jame galima rasti ir panasiai. Kazkoks tekstas paaiskinantis,
        kas tai per puslapis, ka jame galima rasti ir panasiai. Kazkoks tekstas paaiskinantis, kas tai per puslapis, ka jame
        galima rasti ir panasiai.
      </p>
      <div id="section1" data-children=".item">
        <h4 class="card-title">Name of the section of questions</h4>
        <div class="item">
          <a data-toggle="collapse" data-parent="#section1" href="#section1answer1" aria-expanded="false" aria-controls="section1answer1">
            Question one about something?
          </a>
          <div id="section1answer1" class="collapse" role="tabpanel">
            <p class="mb-3">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pretium lorem non vestibulum scelerisque. Proin a vestibulum
              sem, eget tristique massa. Aliquam lacinia rhoncus nibh quis ornare.
            </p>
          </div>
        </div>
        <div class="item">
          <a data-toggle="collapse" data-parent="#section1" href="#section1answer2" aria-expanded="false" aria-controls="section1answer2">
            Question two about something?
          </a>
          <div id="section1answer2" class="collapse" role="tabpanel">
            <p class="mb-3">
              Donec at ipsum dignissim, rutrum turpis scelerisque, tristique lectus. Pellentesque habitant morbi tristique senectus et
              netus et malesuada fames ac turpis egestas. Vivamus nec dui turpis. Orci varius natoque penatibus et magnis
              dis parturient montes, nascetur ridiculus mus.
            </p>
          </div>
        </div>
        <div class="item">
          <a data-toggle="collapse" data-parent="#section1" href="#section1answer3" aria-expanded="false" aria-controls="section1answer3">
            Question three about something?
          </a>
          <div id="section1answer3" class="collapse" role="tabpanel">
            <p class="mb-3">
              Donec at ipsum dignissim, rutrum turpis scelerisque, tristique lectus. Pellentesque habitant morbi tristique senectus et
              netus et malesuada fames ac turpis egestas. Vivamus nec dui turpis. Orci varius natoque penatibus et magnis
              dis parturient montes, nascetur ridiculus mus.
            </p>
          </div>
        </div>
      </div>

      <div id="section2" data-children=".item">
          <h4 class="card-title">Name of another section of questions</h4>
          <div class="item">
            <a data-toggle="collapse" data-parent="#section2" href="#section2answer1" aria-expanded="false" aria-controls="section2answer1">
              Question one about something?
            </a>
            <div id="section2answer1" class="collapse" role="tabpanel">
              <p class="mb-3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pretium lorem non vestibulum scelerisque. Proin a vestibulum
                sem, eget tristique massa. Aliquam lacinia rhoncus nibh quis ornare.
              </p>
            </div>
          </div>
          <div class="item">
            <a data-toggle="collapse" data-parent="#section2" href="#section2answer2" aria-expanded="false" aria-controls="section2answer2">
              Question two about something?
            </a>
            <div id="section2answer2" class="collapse" role="tabpanel">
              <p class="mb-3">
                Donec at ipsum dignissim, rutrum turpis scelerisque, tristique lectus. Pellentesque habitant morbi tristique senectus et
                netus et malesuada fames ac turpis egestas. Vivamus nec dui turpis. Orci varius natoque penatibus et magnis
                dis parturient montes, nascetur ridiculus mus.
              </p>
            </div>
          </div>
          <div class="item">
            <a data-toggle="collapse" data-parent="#section2" href="#section2answer3" aria-expanded="false" aria-controls="section2answer3">
              Question three about something?
            </a>
            <div id="section2answer3" class="collapse" role="tabpanel">
              <p class="mb-3">
                Donec at ipsum dignissim, rutrum turpis scelerisque, tristique lectus. Pellentesque habitant morbi tristique senectus et
                netus et malesuada fames ac turpis egestas. Vivamus nec dui turpis. Orci varius natoque penatibus et magnis
                dis parturient montes, nascetur ridiculus mus.
              </p>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>