<div class="main container">
  <div class="row">
    <div class="col-md-4"><a href="assets/images/{{image.id}}.png">
      <img src='assets/images/{{image.id}}.png' alt="{{image.name}}">
    </a>
    </div>
    <div class="col-md-2">
      <p>{{image.name}}</p>
      <p>{{image.description}}</p>
      <a class="badge badge-secondary image-card-tag" *ngFor="let tag of image.tags" href="gallery?keywords={{tag}}">{{tag}}</a>
    </div>
    <div class="col-md-1">
      <p>Order:</p>
      <p>Print</p>
      <p>T-shirt</p>
      <p>Mug</p>
      <p>Wallpaper</p>
    </div>
    <div class="col-md-2">
      <br>
      <select class="form-control">
        <option>50 x 30 cm</option>
        <option>75 x 40 cm</option>
      </select>
      <select class="form-control">
        <option>S</option>
        <option>M</option>
        <option>L</option>
      </select>
      <br>
      <select class="form-control">
        <option>Optional</option>
        <option>1600 x 1200</option>
        <option>1024 × 768</option>
      </select>
    </div>
    <div class="col-md-1">
      <br>
      <p>{{image.prices["print"]}}</p>
      <p>{{image.prices["shirt"]}}</p>
      <p>{{image.prices["mug"]}}</p>
    </div>
    <div class="col-md-2">
      <br>
      <button>Add to cart</button>
      <button>Add to cart</button>
      <button>Add to cart</button>
      <button>Set as Wallpaper</button>
    </div>
  </div>

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="reviews-tab" data-toggle="tab" href="#reviews">Reviews</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="questions-tab" data-toggle="tab" href="#questions">Questions</a>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="reviews">
      <form>
        <div class="row">
          <div class="col-md-10">
            <div class= "inpunt-group">
            <textarea class="form-control" rows="3" [(ngModel)]="reviewText" ></textarea></div>
          </div>
          <div class="col">
            <button type="submit" (click)="fff()" >Submit</button>
          </div>
        </div>
      </form>
      <div class="row" *ngFor="let review of image.reviews">
        <div class="col-md-9">
          <p>{{review.username}}
            <span *ngIf="review.verified">verified</span>
          </p>
        </div>
        <div class="col-md-3">
          <p>{{review.reviewDate.getFullYear()}}-{{review.reviewDate.getMonth()}}-{{review.reviewDate.getDate()}}</p>
        </div>
        <div class="col">
          <p>{{review.text}}</p>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="questions">
      <form>
        <div class="row">
          <div class="col-md-10">
            <textarea class="form-control" rows="3"></textarea>
          </div>
          <div class="col">
            <button type="submit">Submit</button>
          </div>
        </div>
      </form>
      <div *ngFor="let question of image.questions">
        <div class="row">
          <div class="col-md-9">
            <p>{{question.username}}
              <span *ngIf="question.verified">verified</span>
            </p>
          </div>
          <div class="col-md-3">
            <p>{{question.askDate.getFullYear()}}-{{question.askDate.getMonth()}}-{{question.askDate.getDate()}}</p>
          </div>
          <div class="col-md-12">
            <p>{{question.question}}</p>
          </div>
        </div>
        <div class="row" *ngFor="let answer of question.answers">
            <div class="col-md-1"></div>
          <div class="col-md-8">
            <p>{{answer.username}}
              <span *ngIf="answer.best">best answer</span>
            </p>
          </div>
          <div class="col-md-3">
            <p>{{answer.answerDate.getFullYear()}}-{{answer.answerDate.getMonth()}}-{{answer.answerDate.getDate()}}</p>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-11">
            <p>{{answer.answer}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>