<div class="main container" role="main">
  <div class="card mb-3">
    <div class="card-body">
      <h2 class="card-title">About MustArt</h2>
      <p class="card-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis, enim id luctus ultrices, lacus metus hendrerit risus,
        et iaculis magna orci a turpis. Donec eu cursus justo. Nunc ullamcorper dapibus quam a semper. Integer interdum interdum
        velit, vitae porta velit pulvinar eu. Aliquam mauris sapien, hendrerit ac nunc non, viverra semper diam. Aenean elit
        urna, lacinia ut vulputate eget, accumsan sed justo. Etiam ipsum orci, feugiat sit amet ante in, maximus consequat
        lorem. Etiam luctus dolor quis mollis iaculis. Vivamus vitae vestibulum felis, molestie tincidunt erat. Ut sed feugiat
        urna. Cras ultricies semper purus sit amet sodales. Vestibulum vel neque gravida dui tempus iaculis at in quam. Proin
        ut maximus dui, a ultricies leo. In hac habitasse platea dictumst. Proin sit amet leo sed mauris finibus egestas.
        Fusce ornare, ligula in rutrum convallis, augue ipsum semper urna, in vehicula mauris erat ac quam.
      </p>
      <p>
        Pellentesque vel quam vitae lacus mattis sagittis nec nec dui. Curabitur ac est in justo ullamcorper condimentum. Praesent
        non fringilla leo. Donec scelerisque odio ante, in sagittis odio suscipit at. Suspendisse feugiat risus velit, vel
        dapibus sapien auctor id. Proin sit amet elit erat. Vestibulum tincidunt tellus id vestibulum ultricies. Nam odio
        est, tempus sed leo id, ullamcorper rutrum felis. Vestibulum at venenatis risus.
      </p>
    </div>
  </div>
</div>