<nav class="navbar navbar-expand-md navbar-light bg-warning fixed-top">
  <a class="navbar-brand" href="/">MustArt</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main" aria-controls="navbarsExampleDefault"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse d-flex justify-content-between" id="navbar-main">
    <div>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/gallery" routerLinkActive="active">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/faq" routerLinkActive="active">Faq</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
        </li>
      </ul>
    </div>
    <div>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/upload" routerLinkActive="active">Upload</a>
        </li>
        <li class="nav-item flex-column-reverse">
          <a class="nav-link" routerLink="/cart" routerLinkActive="active">Cart<span class="badge badge-secondary text-white image-card-tag" *ngIf="itemCount() > 0">{{itemCount()}}</span></a>
        </li>
        <li class="nav-item dropdown flex-column-reverse" ngbDropdown>
          <a class="nav-link dropdown-toggle" id="profileDropdown" ngbDropdownToggle routerLinkActive="{{profileRouterLink.isActive}}">
            Profile
          </a>
          <div class="dropdown-menu" aria-labelledby="profileDropdown" ngbDropdownMenu>
            <a class="dropdown-item" routerLink="/profile" routerLinkActive #profileRouterLink="routerLinkActive">Profile</a>
            <a class="dropdown-item" href="#">Sign out</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>