@import 
'~bootstrap/scss/functions',
'~bootstrap/scss/variables',
'~bootstrap/scss/mixins',
'~bootstrap/scss/print',
'~bootstrap/scss/reboot',
'~bootstrap/scss/type',
'~bootstrap/scss/badge';

.col-filter-label-left {
    padding-left: 0px;
}

.col-filter-input-left {
    padding-left: 0px;
    padding-right: 0px;
}

.col-filter-label-right {
    padding-right: 0px;
}

.col-filter-input-right {
    padding-left: 0px;
    padding-right: 0px;
}

.image-card {
    width: 150px;
    padding: 0px;
}

.image-card .image-card-body {
    padding: 4px;
}

.image-card .image-card-link {
    padding: 0px;
}

.image-card .image-card-tag {
    margin: 0.1em;
}

.image-card-tag {
    margin: 0.1em;
}

.image-card .image-card-title {
    margin-bottom: 0.1em;
}

.row {
    margin-bottom: 5px;
    margin-top: 5px;
}