<div class="container">
  <div class="row justify-content-center">
    <div class="card">
      <ng-datepicker id="fromDate" [(ngModel)]="searchService.fromDate"> </ng-datepicker>
      <ng-datepicker id="toDate" [(ngModel)]="searchService.toDate"> </ng-datepicker>
    </div>
    <button (click)='ChangeDisplayMode()'>DISPLAY MODE: {{searchService.displayMode}}</button>
    <div class="dropdown" ngbDropdown>
      <button class="dropdown-toggle" id="sortModeDropdown" ngbDropdownToggle>
        Sorting by: {{searchService.sortMode}}
      </button>
      <div class="dropdown-menu" aria-labelledby="sortModeDropdown" ngbDropdownMenu>
        <a class="dropdown-item" (click)="Sort('Newest')">Newest</a>
        <a class="dropdown-item" (click)="Sort('Oldest')">Oldest</a>
        <a class="dropdown-item" (click)="Sort('Relevant')">Relevant</a>
      </div>
    </div>
    <div class="card-columns" [style.column-count]="ColumnCount">
      <div class="card" *ngFor="let image of images">
        <a class="nav-link" routerLink="/image/{{image.id}}">
          <img class="card-img-top" src='assets/images/{{image.id}}.png' alt="{{image.name}}">
        </a>
        <div class="card-body">
          <h4 class="card-title">Card title that wraps to a new line</h4>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a
            little bit longer.</p>
        </div>
      </div>
    </div>
  </div>
</div>