<div class="main container justify-content-center" role="main">
  <div class="row card justify-content-start">
    <div class="card-body">
      <div class="form-inline">
        <div class="form-group">
          <div class="col-auto col-filter-label">
            <div class="mr-sm-2 align-middle " for="fromDate">From:</div>
          </div>
          <div class="col-auto col-filter-input-left">
            <ng-datepicker id="fromDate" (ngModelChange)="ChangeFromDate($event)" [(ngModel)]="fromDate"> </ng-datepicker>
          </div>
        </div>
        <div class="form-group">
          <div class="col-auto col-filter-label">
            <label class="mr-sm-2 align-middle" for="toDate">To:</label>
          </div>
          <div class="col-auto col-filter-input-left">
            <ng-datepicker id="toDate" (ngModelChange)="ChangeToDate($event)" [(ngModel)]="toDate"> </ng-datepicker>
          </div>
        </div>
        <div class="form-group">
          <div class="col-auto col-filter-label">
            <label class="mr-sm-2 align-middle">Image color:</label>
            <input style="color: transparent" class="color-picker-box" (colorPickerCancel)="ChangeDominantColor(null)" (colorPickerSelect)="ChangeDominantColor($event)"
              [(ngModel)]="ss.dominantColor" [(colorPicker)]="color1" [style.background]="color1" [cpPosition]="'bottom'" [cpPositionOffset]="'50%'"
              [cpPositionRelativeToArrow]="true" [cpOKButton]="'true'" [cpCancelButton]="'true'" [cpCancelButtonText]="'Clear'"
            />
          </div>
        </div>
        <div class="form-group">
          <div class="col-auto col-filter-label">
            <label class="mr-sm-2 align-middle">Matching color:</label>
            <input style="color: transparent" class="color-picker-box" (colorPickerCancel)="ChangeMatchingColor(null)" (colorPickerSelect)="ChangeMatchingColor($event)"
              [(ngModel)]="ss.matchingColor" [(colorPicker)]="color2" [style.background]="color2" [cpPosition]="'bottom'" [cpPositionOffset]="'50%'"
              [cpPositionRelativeToArrow]="true" [cpOKButton]="'true'" [cpCancelButton]="'true'" [cpCancelButtonText]="'Clear'"
            />
          </div>
        </div>
        <div class="form-group">
          <div class="col-auto col-filter-label">
            <label class="mr-sm-2 align-middle">Resolution:</label>
            <select style="height:100%;">
              <option>None</option>
              <option *ngFor="let resolution of resolutions" value="{{resolution}}">{{resolution[0]}} x {{resolution[1]}}
                <span *ngIf="resolution[0]==1920">(Optimal)</span>
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-end">
    <div class="col col-filter-label align-middle">
      <div class="form-inline" style="height:100%;">
        <div class="form-group">
          <div class="align-middle no-margin align-middle" *ngIf="ss.tags != ''">
            We've found {{ss.searchImages.length}} results for
            <a class="badge badge-secondary text-white image-card-tag" *ngFor="let tag of ss.tags" (click)="GoToTag(tag)">{{tag}}</a>
          </div>
          <div class="align-middle no-margin align-middle" *ngIf="ss.tags == ''">
            There are {{ss.searchImages.length}} images in our gallery
          </div>
        </div>
      </div>
    </div>
    <div class="col-auto">
      <div class="form-inline">
        <div class="form-group">
          <div class="col-auto col-filter-label align-middle">
            Display:
          </div>
          <div class="col-auto col-filter-input-right">
            <button type="button" class="btn btn-lg btn-warning" (click)='ChangeDisplayMode()'>{{ss.displayMode}}</button>
          </div>
        </div>
        <div class="form-group">
          <div class="col-auto col-filter-label align-middle">
            Sorting by:
          </div>
          <div class="col-auto col-filter-input-right">
            <div class="dropdown" ngbDropdown>
              <button type="button" class="btn btn-lg btn-warning dropdown-toggle" id="sortModeDropdown" ngbDropdownToggle>
                {{ss.sortMode}}
              </button>
              <div class="dropdown-menu" aria-labelledby="sortModeDropdown" ngbDropdownMenu>
                <a class="dropdown-item" (click)="Sort('Newest')">Newest</a>
                <a class="dropdown-item" (click)="Sort('Oldest')">Oldest</a>
                <a class="dropdown-item" (click)="Sort('Relevant')">Relevant</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center" *ngIf="ss.searchImages.length > 0">
    <div class="card image-card" [class.col-sm-3]="ss.displayMode.toString()=='Normal'" [class.col-sm-4]="ss.displayMode.toString()=='Large'"
      *ngFor="let image of ss.searchImages">
      <a class="nav-link image-card-link" routerLink="/image" [queryParams]="{id: image.id}">
        <img class="card-img-top" src='assets/images/{{image.id}}.png' alt="{{image.name}}">
      </a>
      <div class="card-body image-card-body">
        <h4 class="card-title image-card-title">{{image.name}}</h4>
        <a class="badge badge-secondary text-white image-card-tag" *ngFor="let tag of image.tags" (click)="GoToTag(tag)">{{tag}}</a>
      </div>
    </div>
  </div>
  <div class="row card oops-card" *ngIf="ss.searchImages.length < 1">
    <div class="card-body col-md-12 justify-content-center totally-centered">
      <h1>
        Oops!</h1>
      <h2>
        It seems there's nothing here...</h2>
      <div class="error-details">
        No results were found for your search query, but we got you covered:
      </div>
      <div class="error-actions">
        <a href="/" class="btn btn-warning btn-lg">
          <span class="glyphicon glyphicon-home"></span>
          Take me home </a>
        <a href="/gallery?tags=b" class="btn btn-warning btn-lg">
          <span class="glyphicon glyphicon-envelope"></span> Popular tags </a>
      </div>
    </div>
  </div>
</div>