<div class="main container" role="main">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div *ngFor="let item of cartItems">
          <div class="form-group form-inline">
            <div class="col-md-2">
              <img src='assets/images/{{item.id}}.png' alt="{{item.id}}">
            </div>
            <div class="col-md-4">
              <h4>{{imageService.getImageById(item.id).name}}</h4>
              <p>{{item.product}}
                <span *ngIf="item.details != ''">({{item.details}})</span>
              </p>
              <h5>Price</h5>
            </div>
            <div class="col-md-1">
              <form>
                <input type="number" name="quantity" value="{{item.quantity}}" min="1" style="width:100%">
              </form>
            </div>
            <div class="col-md-3">
              <button type="button" class="btn btn-warning btn-block btn-lg" (click)="Remove()">Remove</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        Payment method:
        <select class="form-control" style="width:100%">
          <option>Paypal</option>
          <option>eBanking</option>
        </select>
        Delivery method:
        <select class="form-control" style="width:100%">
          <option>Post</option>
          <option>Office</option>
        </select>
        <h5>Total: PRICE</h5>
        <button type="button" class="btn btn-warning btn-block">Purchase</button>
      </div>
    </div>
  </div>
</div>