<div class="main container" role="main">
  <div class="card">
    <div class="row card-body">
      <div class="col-md-8 card">
        <h2 class="card-title text-center">Your order:</h2>
        <div class="card-body" style="height: 100%; max-height: 500px; overflow-y: scroll;">
          <div *ngFor="let item of cartItems">
            <div class="form-group form-inline">
              <a class="col-md-2">
                <img class="row" src='assets/images/{{item.id}}.png' alt="{{item.id}}">
              </a>
              <div class="col-md-4">
                <h4>{{imageService.getImageById(item.id).name}}</h4>
                <p>{{item.product}}
                  <span *ngIf="item.details != ''">({{item.details}})</span>
                </p>
                <h5>
                  <span *ngIf="item.quantity > 1">{{item.quantity}} x </span>{{getPrice(item)}}€</h5>
              </div>
              <div class="col-md-3">
                <input class="form-control" type="number" name="quantity" [(value)]="item.quantity" min="1" style="width:100%">
              </div>
              <div class="col-md-3">
                <button type="button" class="btn btn-warning btn-block btn-lg" (click)="Remove(item)">Remove</button>
              </div>
            </div>
          </div>
          <div class="error-template" *ngIf="cartItems.length < 1" style="text-align: center">
            <h1>
              Oops!</h1>
            <h2>
              It seems there's nothing here...</h2>
            <div class="error-details">
              You don't have any items in cart, but we got you covered:
            </div>
            <div class="error-actions">
              <a href="/" class="btn btn-warning btn-lg">
                Gallery </a>
              <a href="/gallery?tags=b" class="btn btn-warning btn-lg">
                Popular tags </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        Payment method:
        <select class="form-control" style="width:100%">
          <option>Paypal</option>
          <option>eBanking</option>
        </select>
        Delivery method:
        <select class="form-control" style="width:100%">
          <option>Post</option>
          <option>Office</option>
        </select>
        <h5>Total: {{GetTotal()}}€</h5>
        <button type="button" class="btn btn-lg btn-warning btn-block" [ngClass]="{'disabled': cartItems.length < 1}" (click)="purchase()">Purchase</button>
      </div>
    </div>
  </div>
</div>