<div class="main container" role="main">
  <div class="card mb-3">
    <div class="card-body">
      <h2 class="card-title">Profile</h2>
      <form class="form">
        <div class="form-group row">
          <div class="col-md-4 text-md-right col-filter-label align-middle">
            Subscriptions
          </div>
          <input class="form-control col-md-4" name="tagToAdd" [(ngModel)]="tagToAdd" type="text" />
          <div class="col-auto col-filter-input-right">
            <button type="button" class="btn btn-lg btn-warning" (click)="AddTag()">Add</button>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-4">
            <span class="badge badge-secondary text-white image-card-tag" *ngFor="let tag of subscriptions">
              <a (click)="GoToTag(tag)">{{tag}}</a>
              <button class="badge badge-light" (click)="RemoveTag($event)">X</button>
            </span>
          </div>
        </div>
        <hr/>
        <div class="form-group row">
          <div class="col-md-4 text-md-right">
            Email address
          </div>
          <input class="form-control col-md-4" id="emailAddressInput" name="emailAddressInput" [(ngModel)]="emailAddressInput" type="text" placeholder="{{emailAddress}}"/>
          <div class="col-auto col-filter-input-right">
            <button type="button" class="btn btn-lg btn-warning" (click)="ChangeEmail()">Change</button>
          </div>
        </div>
        <hr/>
        <div class="form-group row">
          <div class="col-md-4 text-md-right">
            Current password
          </div>
          <input class="form-control col-md-4" name="currentPassword" [(ngModel)]="currentPassword" type="password" />
          <div class="col-auto col-filter-input-right">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-4 text-md-right">
            New password
          </div>
          <input class="form-control col-md-4" name="newPassword" [(ngModel)]="newPassword" type="password" />
          <div class="col-auto col-filter-input-right">
            <button type="button" class="btn btn-lg btn-warning" (click)="ChangePassword()">Change</button>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-4 text-md-right">
            Repeat password
          </div>
          <input class="form-control col-md-4" name="repeatPassword" [(ngModel)]="repeatPassword" type="password" />
          <div class="col-auto col-filter-input-right">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>