/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');

body, html {
    font-family: 'Roboto';
}

body {
    margin: auto;
    margin-top: 60px;
}

p {
    text-align: justify;
}

.ngx-datepicker-calendar-container {
    z-index: 1000;
}

.row.row-grid [class*="col-"] + [class*="col-"] {
    margin-top: 15px;
}

.label-no-margin {
    margin: 0px !important;
    height: 100%;
}

@media (min-width: 1200px) {
    .row.row-grid [class*="col-lg-"] + [class*="col-lg-"] {
        margin-top: 0;
    }
}
@media (min-width: 992px) {
    .row.row-grid [class*="col-md-"] + [class*="col-md-"] {
        margin-top: 0;
    }
}
@media (min-width: 768px) {
    .row.row-grid [class*="col-sm-"] + [class*="col-sm-"] {
        margin-top: 0;
    }
}