/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import 
'~bootstrap/scss/functions',
'~bootstrap/scss/variables',
'~bootstrap/scss/mixins',
'~bootstrap/scss/print',
'~bootstrap/scss/reboot',
'~bootstrap/scss/type',
'~bootstrap/scss/badge',
'~bootstrap/scss/buttons';
@import "~ngx-toastr/toastr-bs4-alert";

app-searchbar {
    margin-top: -4px;
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 500;
}

a:hover {
    color: rgb(224, 101, 0)
}

app-faq, app-about, app-profile {
    .card {
        background-color: $dark;
        color: $light;
    }
}

h1, h2 {
    color: $warning;
}

.img-preview, .img-thumbnail {
    border-width: 1px;
    border-color: $light;
    border-radius: 0;
}

.img-thumbnail:hover {
    border-width: 2px;
    border-color: $primary;
}

.img-thumbnail-active {
    border-width: 2px;
    border-color: $warning;
}

.ngx-datepicker-input {
    width: 120px !important;
}

.main {
    padding-top: 48px !important;
}

a {
    color:$warning;
}

a, .color-picker-box, button{
    cursor:pointer;
}

.image-card-tag {
    margin: 0.1em;
}

.color-picker {
    .hex-text, .type-policy {
        display:none !important;
    }
}

.main-calendar-days {
    .is-selected {
        background-color: $warning !important;
    }
}

.color-picker-box {
    width: 30px;
}

.cp-ok-button-class, .cp-cancel-button-class {
    @extend .btn;
    @extend .btn-warning;
    width: 49%;
    padding: 5px;
}

body, html {
    font-family: 'Roboto';
}

body {
    margin: auto;
    margin-top: 60px;
}

p {
    text-align: justify;
}

.ngx-datepicker-calendar-container {
    z-index: 1000;
}

.row, .container {
    margin-top: 5px;
    margin-bottom: 5px;
}

.row.row-grid [class*="col-"] + [class*="col-"] {
    margin-top: 15px;
}

.label-no-margin {
    margin: 0px !important;
    height: 100%;
}

.totally-centered {
    text-align: center;
    vertical-align: middle;
}

.btn{
    font-size: 12px !important;
}

.btn-sm{
    font-size: 8px !important;
}

.btn-lg{
    font-size: 15px !important;
}

@media (min-width: 1200px) {
    .row.row-grid [class*="col-lg-"] + [class*="col-lg-"] {
        margin-top: 0;
    }
}
@media (min-width: 992px) {
    .row.row-grid [class*="col-md-"] + [class*="col-md-"] {
        margin-top: 0;
    }
}
@media (min-width: 768px) {
    .row.row-grid [class*="col-sm-"] + [class*="col-sm-"] {
        margin-top: 0;
    }
}